PORT=5000
MONGODB_URI=mongodb+srv://meharbanali:meharbanali123.@backend-work.plxh37v.mongodb.net/adflow_pro
JWT_SECRET=234c60b3cf350ccddec98c1d9531d934
CLIENT_URL=http://localhost:5173
CRON_ENABLED=true


